<div class="vertical-navbar">
  <mat-card fxLayout="column" fxLayoutAlign="space-between stretch">
    <span>
      <mat-icon>sentiment_very_satisfied</mat-icon>
      <p>About me</p>
    </span>
    <span>
      <mat-icon>insights</mat-icon>
      <p>Experience</p>
    </span>
    <span>
      <mat-icon>work_outline</mat-icon>
      <p>Projects</p>
    </span>
    <span>
      <mat-icon>construction</mat-icon>
      <p>Skills</p>
    </span>
    <span>
      <mat-icon>call</mat-icon>
      <p>Contact</p>
    </span>
  </mat-card>
</div>
